html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'DM Sans', sans-serif;
	line-height: 1.6;
	/* background: #8a2387;
	background: linear-gradient(320deg, #f27121, #e94057, #8a2387); */
	background: rgb(62, 64, 149);
	background: linear-gradient(
		100deg,
		rgba(62, 64, 149, 1) 43%,
		rgba(114, 179, 156, 1) 83%
	);
	min-height: 100vh;
	color: #fff;
}

img {
	max-width: 100%;
	display: block;
	box-sizing: content-box;
}

h1,
h2,
h3 {
	margin: 0;
	line-height: 1.1;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	width: 90%;
	margin-inline: auto;
}
